.container-fluid {
	background-color: whitesmoke;
	padding-left: 0px;
	padding-right: 0px;
}

/* Container on bottom of landing page */
#col-lg-4-containter {
	background-color: darkred;
	color: white;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-right: 25px;
}

.container {
	margin-right: 50px;
	margin-top: auto;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	background-color: darkred;
	margin-right: 0px;
	width: 100%;
	color: white;
}

.row {
	text-align: center;
}

/* Navbar */
.navbar-default {
	margin-bottom: 0px;
}

/* Active navbar links */
.navbar-default .navbar-nav>.active> a,
.navbar-default .navbar-nav>.active> a:focus,
.navbar-default .navbar-nav>.active> a:hover {
  background-color: darkred;
	color: whitesmoke;
}

/* Navbar brand "COVID 19 Risk App" */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0px;
}

/* Main image "masthead" at top of every page */
.img-fluid {
	height: 100%;
	width: 100%;
}

/* Jumbotron text under masthead */
.container .jumbotron, .container-fluid .jumbotron {
	text-align: center;
	background-color: darkred;
	font-size: xxx-large;
	color: whitesmoke;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
}

/* Jumbotron on About, Assess Risk, and Activity Risk pages */
.jumbotron {
	text-align: center;
	background-color: darkred;
	font-size: xxx-large;
	color: whitesmoke;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
}


h2 > .jumbo-header {
	padding-left: 50px;
	padding-right: 50px;
}

p > .lead {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px
}

/* About: Campus image on about page */
#OSU-img {
	margin-bottom: 0px;
	margin-top: 15px;
	width: 95%;
	height: 100%;
}

/* About: Accordion row */
.accordion-row {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

/*About: Accordion cards */
.accordion-card {
	margin-right: 0px;
	margin-left: 0px;
	background-color: darkred;
}


/* About: Accordion Header Text formatting */
.mb-0 {
	margin-bottom: 0px;
	margin-top: 15px;
	margin-left: 0px;
}


/* About: Accordion header text */
.btn-link, .btn-link:hover {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: whitesmoke;
	font-size: 23px;
	font-weight: bold;
}

/* About: Card body text */
.card-body > p {
	background-color: whitesmoke;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}


/* Main call-to-action button on landing page */
#calc-risk-btn {
	margin-top: 10px;
	width: 40%;
	color: white;
	background-color:;
	border-color: whitesmoke;
	font-size: 15px;
}

/* Main call-to-action button on landing page - hover styling */
#calc-risk-btn:hover {
	margin-top: 10px;
	width: 40%;
	color: black;
	background-color:whitesmoke;
	border-color: grey;
	font-size: 15px;
}

/* Three buttons underneath images on landing page */
.btn-primary {
	margin-top: 10px;
	width: 40%;
	color: white;
	background-color:black;
	border-color: whitesmoke;
	font-size: 15px;
}

/* Three buttons underneath images on landing page: hover styling */
.btn-primary:hover {
	margin-top: 10px;
	width: 40%;
	color: black;
	background-color: whitesmoke;
	border-color: black;
	font-size: 15px;
}


/* horizontal row */
hr {
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
	margin-top: 10px;
	width: 50%
}

/* Embedded image settings on the landing page - Learn more, Calculate risk, View the activities images */
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 8px;
}

/* Footer */
.footer {
	text-align: center;
}

/* Footer horizontal row separator */
.footer-hr {
	height:2px;
	border-width:0;
	color:black;
	background-color:gray;
	margin-top: 15px;
	width: 80%;
	text-align: center;
}

/* Disclaimer h5 styling */
.disclaimer-h5 {
	margin-top: 10px;
}

.user-data {
	color: #0066ff;
	font-weight: bold;
}

/* Dropdown accordion card body on about page */
.card-body {
	background-color: whitesmoke;
}

.p-larger {
	font-size: 16px;
}

.table-container {
	max-width: 760px;
	align-items: left;
}

.gray-bg {
	background-color: #f2f2f2;
}

.space-below {
	margin-bottom: 40px;
}

.form-question {
	padding-top: 8px;
	padding-bottom: 8px;
}

.calc-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.calc-row {
	text-align: left;
}

.results-row {
	text-align: left;
	padding-left: 15px;
}
