.user-data {
	color: #0066ff;
	font-weight: bold;
}

.navbar-default .navbar-nav>.active> a,
.navbar-default .navbar-nav>.active> a:focus,
.navbar-default .navbar-nav>.active> a:hover {
  background-color: darkred;
	color: whitesmoke;
}
