.container-fluid {
	background-color: whitesmoke;
}

.container {
	background-color: #990022;
	width: 100%;
	text-align: center;
	color: white;
	padding-left: 10%;
	padding-right: 10%;

}

/* About: Table in Results card of accordion */
.table-container, .table-sm {
	max-width: 760px;
	align-items: left;
	padding-left: 20px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}

/* Container on bottom of landing page */
#card-container {
	background-color: #990022;
	color: white;
	padding: 5% 1%;
}

/* Activity Risk: Container for content */
#activity-risk-cont {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
}

/* Activity Risk: legible paragraph content */
p.legible {
	max-width: 100%;
	margin-top: 20px;
	font-size: 18px;
}

/* Activity Risk: Table Header */
th {
	font-size: 18px;
	font-weight: bold;
}

/* Activity Risk: Table Row */
td {
	font-size: 15px;
}

/* Activity Risk: Horizontal Row */
#make-personal-hr {
	border: 1px solid gray;
	width: 100%;
}

.row {
	text-align: center;
}

/* Active navbar links */
.navbar-default .navbar-nav>.active> a,
.navbar-default .navbar-nav>.active> a:focus,
.navbar-default .navbar-nav>.active> a:hover {
  background-color: #990022;
	color: whitesmoke;
}

/* Navbar brand "COVID 19 Risk App" */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0px;
}

/* Main image "masthead" at top of every page */
.img-fluid {
	height: 100%;
	width: 100%;
	vertical-align: inherit;
}

/* Jumbotron text under masthead */
.container .jumbotron, .container-fluid .jumbotron {
	text-align: center;
	background-color: #990022;
	font-size: xxx-large;
	color: whitesmoke;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
}

/* Jumbotron on About, Assess Risk, and Activity Risk pages */
.jumbotron {
	text-align: center;
	background-color: #990022;
	font-size: xxx-large;
	color: whitesmoke;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
}

/*About: H3 in Methods accordion card */
.h3, h3 {
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 0px;
	font-size: 24px;
}

/* Index: Main Calculate Risk button */
a.btn.btn-primary.space-below{
	font-size: 26px;
	color: #000;
	background-color: whitesmoke;
	border-color: #000;
	padding: 8px 24px;
}

/* Index: Main Calculate Risk button - hover */
a.btn.btn-primary.space-below:hover {
	font-size: 26px;
	color: #000;
	background-color: lightgray;
	border-color: #000;
	padding: 8px 24px;
}

/* About: Calculate risk button */
#concl-risk-btn {
	margin-left: 20px;
}

h2 > .jumbo-header {
	padding-left: 50px;
	padding-right: 50px;
}

p > .lead {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px
}

/* About: Campus image on about page */
#OSU-img {
	margin-bottom: 0px;
	margin-top: 15px;
	width: 95%;
	height: 100%;
}

/* About: Accordion row */
.accordion-row {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

/*About: Accordion cards */
.accordion-card {
	margin-right: 0px;
	margin-left: 0px;
	background-color: #990022;
}


/* About: Accordion Header Text formatting */
.mb-0 {
	margin-bottom: 0px;
	margin-top: 15px;
	margin-left: 0px;
}


/* About: Accordion header text */
.btn-link, .btn-link:hover {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: whitesmoke;
	font-size: 23px;
	font-weight: bold;
}

/* About: Card body text */
.card-body > p {
	background-color: whitesmoke;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

/* Form-input: Container styling */
.container-form {
	background-color: #990022;
}

/* Form input: Calculate your risk button */
input#submit.btn.btn-default {
	width: 100%;
}

/*Form input: Mobile view footer hotfix - margin bottom allows to click button */
form.form {
	margin-bottom: 40%;
}

.btn-primary {
	font-size: 16px;
	color: #000;
	background-color: whitesmoke;
	border-color: #000;
	padding: 8px 24px;
}

.btn-primary:hover, .btn-primary:focus {
	color: #000;
	background-color: #bfbfbf;
}

.btn-secondary {
	color: white;
	background-color:black;
	border-color: #ccc;
}

.btn-secondary:hover, .btn-secondary:focus {
	color: #000;
	background-color: #bfbfbf;
	border-color: #000;
}

.btn-default {
	font-size: 16px;
  color: #fff;
  background-color: #990022;
  border-color: #000;
  padding: 8px 24px;
}

.btn-default:hover {
	color: #000;
	background-color: #bfbfbf;
	border-color: #000;
	padding: 8px 24px;
}

/* horizontal row */
hr {
	width: 50%
	border-top: 1px solid gray;
}

/* Embedded image settings on the landing page - Learn more, Calculate risk, View the activities images */
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 8px;
}

/* Footer */
.footer {
	text-align: center;
}

/* Footer horizontal row separator */
.footer-hr {
	height:2px;
	border-width:0;
	color:black;
	background-color:gray;
	margin-top: 15px;
	width: 80%;
	text-align: center;
}

/* Disclaimer h5 styling */
.disclaimer-h5 {
	margin-top: 10px;
}

.user-data {
	color: #0066ff;
	font-weight: bold;
}

/* Dropdown accordion card body on about page */
.card-body {
	background-color: whitesmoke;
}

.btn-link:focus{
    color: #fff;
 }

.p-larger {
	font-size: 16px;
}

.table-container {
	max-width: 760px;
	align-items: left;
}

.gray-bg {
	background-color: #f2f2f2;
}

/* Form-input: Top horizontal row */
.form-hr {
	width: 100%;
}

.space-below {
	margin-bottom: 15px;
}

/* Form-input: "Which start are you in?" text */
.form-row > .col-lg-12 > .statename {
	text-align: left;
}

.form-question {
	padding-top: 8px;
	padding-bottom: 8px;
}

.calc-container {
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 15px;
	padding-right: 15px;
}

.calc-row {
	text-align: left;
}

.results-row {
	text-align: left;
	padding-left: 15px;
}
.app-container {
	display: flex;
	justify-content: center;
	padding: 38px 10px 10px 10px;
	background-color: "whitesmoke";
}

.chart-container {
	width: 600px;
}

#bar-chart {
	width: 100%;
}

.gradeCircle {
	display: inline-flex;
	height: 240px;
	width: 240px;
	border-radius: 50%;
	background-color: #003399;
	color: #fff;
	font-weight: bold;
	font-size: 60px;
	align-items: center;
	justify-content: center;
}

.gradeCircleText {
	margin-top: 16px;
	color: #666;
	font-weight: bold;
}

.legible {
	max-width: 800px;
}
