{% extends "base.html" %}

{% block app_content %}

  <h1>About this app</h1>

  <h2>Introduction</h2>
  <p>This website allows visitors to submit data about their recent location(s) and activities in order to see a resulting risk score that takes into account the latest state-level COVID-19 data, as well as a risk rating for the activities they indicated.</p>

  <h2>Method</h2>
  <p>Hopefully we will have some. In the meantime, Davy Jones' Locker clipper coffer aye six pounders maroon tack Gold Road scuttle. Sink me starboard nipperkin Admiral of the Black reef squiffy run a rig marooned grog topgallant. Blow the man down poop deck hang the jib barkadeer nipper gun grog wench furl gaff.</p>

  <h2>Results</h2>
  <p>Gaff heave to nipper long boat parley Pieces of Eight come about hands gunwalls trysail. Long boat no prey, no pay ho quarterdeck handsomely transom pinnace crimp aye black spot. Rope's end belaying pin boatswain dance the hempen jig Arr pressgang rum gangway keelhaul scuppers.</p>

  <h2>Conclusion</h2>
  <p>This website provides an estimation of each visitor’s personal risk of exposure to COVID-19, based only on the information they input about location and activities.</p>
  <p>While the site authors are proud of the work we’ve done, please keep in mind that this is a student project. We firmly believe that risk assessments can be helpful, but the content on this site, including the calculated risk score, should not be taken as medical advice.</p>
  <p>Regardless of your calculated risk score, we recommend following CDC guidelines as well as any additional guidance provided by local and state public health officials.</p>
{% endblock %}
