{% extends 'bootstrap/base.html' %}
{% block title %}
  {% if title %}
    {{ title }} - COVID-19 Risk App
  {% else %}
    COVID-19 Risk App
  {% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">COVID-19 Risk App</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li {% if request.path == url_for('index') %}class="active"{% endif %}>
            <a href="{{ url_for('index') }}">Home</a>
          </li>
          <li {% if request.path == url_for('about') %}class="active"{% endif %}>
            <a href="{{ url_for('about') }}">About</a>
          </li>
          <li {% if request.path == url_for('formInput') %}class="active"{% endif %}>
            <a href="{{ url_for('formInput') }}">Assess your risk</a>
          </li>
          <li {% if request.path == url_for('activities') %}class="active"{% endif %}>
            <a href="{{ url_for('activities') }}">Activity risk ratings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block styles%}
  {{super()}}
  <link rel="stylesheet" href="../static/css/styles.css">

{% endblock %}

{% block content %}
  <div class="container">
    {% block app_content %}
    {% block scripts %}
    {% endblock %}
    {% endblock %}
    <br>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <hr>
        <div class="col-sm-6">
          <h5>DISCLAIMER</h5>
          <p>This is a student project. The content displayed on this website is not medical advice and cannot be used to diagnose or treat anything.</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}