{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Assess your current COVID-19 risk</h1>
  <p class="space-below">Answer the following questions so that we can calculate your current risk score.</p>

  <form class="form" action="" method="post" role="form" novalidate>
  {{ form.hidden_tag() }}

    <div class="form-row">
      <div class="col-8">
        <p class="lead">Please provide your location.</p>
      </div>
    </div>
    <div class="form-row space-below">
      <div class="col" style="width:60%">
        {{ wtf.form_field(form.statename) }}
      </div>
    </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-8">
        <p class="lead">In the past two weeks, how many times have you...?</p>
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity1) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity2) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity3) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity4) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity5) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity6) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity7) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity8) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity9) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity10) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity11) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity12) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity13) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity14) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity15) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity16) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity17) }}
      </div>
    </div>
    <div class="form-row form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity18) }}
      </div>
    </div>
    <div class="form-row space-below form-question">
      <div class="form-inline col-6">
        {{ wtf.form_field(form.activity19) }}
    </div>
  </div>



  <div class="row">
    <div class="col-sm-4">
      {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
    </div>
  </div>

  </form>
{% endblock %} 
