{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Assess your current COVID-19 risk</h1>
    <p>Answer the following questions so that we can calculate your current risk score.</p>
    <form class="form" action="" method="post" role="form" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p>In the past two weeks, how many times have you...?</p>
        
            <div class="form-inline">
                {{ wtf.form_field(form.activity1) }}
            </div>
            <div class="form-inline">
                {{ wtf.form_field(form.activity2) }}
            </div>
            <div class="form-inline">
                {{ wtf.form_field(form.activity3) }}
            </div>
        </div>

        <div class="form-group form-row">
            <div>
                <p>Last but not least, please provide your location.</p>
                {{ wtf.form_field(form.statename) }}
            </div>
        </div>

        <div class="form-row">
            {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
        </div>

    </form>
{% endblock %} 
